body {
  background-color: #060000;
  font-family: 'Geo', serif;
  font-size: 3vw;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
div {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
  padding: 4px 0 0 0;
  font-size: 7vw;
  font-family: 'Uncial Antiqua', sans-serif;
}
h2 {
  margin: 0;
  padding: 4px 0 0 0;
  font-size: 5vw;
  font-family: 'Uncial Antiqua', sans-serif;
}
h3 {
  font-size: 3vw;
  font-family: 'Uncial Antiqua', sans-serif;
}
p {
  margin: 6px 4px;
  padding: 0 0 0 5px;
}
/* page 1 */
.intro {
  background-image: url('../img/blueabstract1.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 420px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  display: flex;
  width: 100%;
}
.topnav a {
  flex-grow: 1;
  background-color: #00000066;
  background-blend-mode: lighten;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  padding: 8px;
}
/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
  /* background-color: #ddd; */
  color: black;
}
/* Style the active link (or home/logo) */
.active {
/*  background-color: #04AA6D; */
  color: white;
}
/* for intro text with large font */
.textblock {
  background-color: #ffffff55;
  margin: 10px 10px 10px 15px;
  padding: 0 10px 10px 10px;
  font-size: 4vw;
  font-family: 'Geo';
  color: #000000;
}

/* page 2 */
.figmentography {
  background-image: url('../img/blueredgradient.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 420px;
  max-width: 420px;
}

.thumbs {
  max-width: 380px;
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.thumbs img {
  height: 120px;
}

/* page3 */
.diatribe {
  background-image: url('../img/redabstract1.png');
  background-repeat: repeat;
  background-position: left top;
  background-size: 420px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.article {
  background-color: #ffffff55;
  margin: 10px 10px 10px 15px;
  padding: 0 10px 10px 10px;
  font-size: 4vw;
  font-family: 'Geo';
  color: #000000;
}

/* page 4 */
.wanderingcan {
  background-image: url('../img/redbluegradient.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 420px;
  max-width: 420px;
}











 